# Ignore build artifacts and binaries
*.o
*.obj
*.bin
*.elf
*.img
*.map
*.out
*.log
*.lst
*.tmp
*.swp
*.swo
*.d
*.iso
/todo.txt
*.dSYM/
*.DS_Store
*.vscode/
*.idea/
*.sublime-workspace
*.sublime-project
/build/
/dist/
/kernel.bin
/kernel.elf
/boot/*.bin
/boot/*.elf
/boot/*.img
/boot/*.map
/boot/*.o
/kernel/*.o
/kernel/*.bin
/kernel/*.elf
/kernel/*.img
/kernel/*.map
/kernel/*.d
/kernel-rs/target/*
/kernel-rs/src/lib.rs
/scripts/*.log
/scripts/*.tmp
/*.pem
/cmds
ShadeOs.pem
/iso/*
vmx.txt
